@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>@ViewData["Message"]</p>

<p>Aluno @ViewData["Aluno"]</p>

<address>
    <strong>More information: </strong>
    <a href="http://educandoweb.com.br" target="_blank">Educandoweb.com.br</a>
</address>
